@font-face {
  font-family: "sketch";
  src: local("sketch"),
  url("./fonts/Sketch_Block.ttf") format("truetype");

}

h1 {
  font-family: "sketch";
  font-size: 100px;
 }

 h2{
  font-family: "sketch";
  font-size: 50px;
  text-transform:uppercase;
}
h3{
  font-size: 20px;
  text-transform: uppercase;
  font-family: 'mont-bold';
}
h5{
  color:#fff;
  font-size: 150%;
  text-transform: uppercase;
  letter-spacing: 1px;
}
h4{
  color:#fff;
  font-size:250%;
  text-transform:uppercase;
  letter-spacing: 1px;
  line-height: 115%;
}
p{
  font-size: 18px;
}
a{
  text-decoration: none;
  cursor: pointer;
}
form{
  width: 55%;
  margin: 80px auto 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 22px;
}
input{
  background-color: #fff;
  font-family: 'mont-reg';
  font-size: 16px;
  padding: 20px;
  outline: none;
  border: 1px solid grey;
  opacity: 1.5;
  float: left;
  /*margin: 0 0 32px 0;
  width: 380px;*/
}

.AppWrapper{
  max-width:  1440px;
  width: 100%;
  margin: 0  auto;
  /*background-image: url(./img/bg.jpg);
  background-repeat: no-repeat;
  height: 5000px;
  background-size:100%;*/
  position: relative;
  overflow:hidden;
} 
.nav{
  float:left;
  width: 100%;
  z-index: 100;
  position: absolute;
}

@media only screen and (max-width: 1440px) {
  h2{font-size: 3.5vw;}
  h3{font-size: 2vw;}
  p{font-size: 1.3vw;}
}