@font-face {
  font-family: "mont-reg";
  src: local("mont-reg"),
  url("./fonts/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "mont-bold";
  src: local("mont-bold"),
  url("./fonts/Montserrat-Bold.ttf") format("truetype");

}

*{
  padding: 0;
  margin:  0;
  box-sizing: border-box;
  
}

body{
  font-family: "mont-reg";
}

ul{
  padding:0;
  margin:0;
  text-decoration: none;
}
li{
  padding:0;
  margin:0;
  display:inline-block;
}
a{
  text-decoration: none;
  color: #000;
  cursor: pointer;
}
